srclang=de
tgtlang=en
lexsim-type=biw2v
inplexsim-path=mini.d300.de
outlexsim-path=mini.d300.en
inplexweight-type=learn
hyplexweight-type=learn
phrasesim-type=nwpr
ngram-size=3
mode=yisi
alpha=0.8
inp-file=test_inp.de
hyp-file=test_hyp.en
sntscore-file=test_hyp.sntyisi2
docscore-file=test_hyp.docyisi2
