srclang=de
tgtlang=en
lexsim-type=biw2v
inplexsim-path=mini.d300.de
outlexsim-path=mini.d300.en
inpsrl-type=mate
inpsrl-path=../src/de.mplsconfig
outsrl-type=mate
outsrl-path=../src/en.mplsconfig
labelconfig-path=../src/yisi_srl.labelconfig
phrasesim-type=nwpr
ngram-size=3
mode=yisi
alpha=0.8
beta=0.2
inp-file=test_inp.de
hyp-file=test_hyp.en
sntscore-file=test_hyp.sntyisi2_srl
docscore-file=test_hyp.docyisi2_srl
